.SecondSection {
    height: 100vh;
    width: 100%;
    background: -webkit-linear-gradient(#ebb569 3%, #F29920, #cf7f0e 65%, #724F21, #000000);
    display: flex;
    flex-flow: row wrap;

}

.SecondSection .Titre {
    /* border: white solid 1px; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.SecondSection .Titre h1 {
    font-family: 'Sail', cursive;
    color: white;
    font-size: 3rem;
}
.SecondSection .Titre p {
    font-family: 'Arbutus Slab', serif;
    color: rgba(255, 255, 255, 0.788);
    font-size: 1rem;
    margin-bottom: 3rem;
}
.SecondSection .Titre h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: .9rem;
    text-align: center;
    margin-bottom: 3rem;
}

.SecondSection .Titre .profile-chef{
    width: 350px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.SecondSection .Titre .profile-chef h2{
    color: white;
    font-family: Nosifer;
    font-size: 1.5rem;
}

.SecondSection .Titre .profile-chef img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.SecondSection .image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SecondSection .image img{
    width: 30rem;
}
